*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#06142E;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 10%;

background:#0B1E3C;

position:fixed;
width:100%;

}

nav h2{

color:#00E5FF;

}

nav ul{

display:flex;

list-style:none;

}

nav ul li{

margin-left:30px;

}

nav ul li a{

text-decoration:none;

color:white;

transition:.4s;

}

nav ul li a:hover{

color:#00E5FF;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:160px 10%;

}

.left{

width:50%;

}

.left h1{

font-size:25px;

}

.left h2{

font-size:50px;

color:#00E5FF;

}

.left h3{

font-size:28px;

margin:15px 0;

}

.left p{

line-height:30px;

margin-bottom:25px;

}

button{

padding:15px 35px;

background:#00E5FF;

border:none;

font-size:18px;

border-radius:30px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.1);

}

.right{

width:40%;

text-align:center;

}

.right img{

width:360px;

height:360px;

border-radius:50%;

border:8px solid #00E5FF;

box-shadow:0 0 40px #00E5FF;

object-fit:cover;

}
